* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(30 30 30);

}

header {
    width: 100vw;
    height: 100px;
    position: fixed;



}

/* ________סרגל ניווט_______________ */
nav {
    height: 100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 0 auto;
    background-color: rgba(30, 30, 30, 0.3);
    ;
    padding-left: 20px;
    padding-top: 20px;

}

/* ________________המבורגר________________ */
#hamburger {

    display: none;
}

/* __________רשימת פריטים לסרגל ________________*/
nav ul {
    list-style-type: none;
    direction: rtl;
    display: flex;


}

nav ul li {
    float: left;



}

/* __________ לינק אייטם בודד____________*/

nav ul li a {
    text-decoration: none;
    display: block;
    width: 100px;
    text-align: center;
    font-size: 15pt;
    color: honeydew;
    line-height: 2;
    font-family: "Poppins", sans-serif;
}

/* _________ מעבר על לינק אייטם____________*/
nav ul li a:hover {
    color: goldenrod;
}

/* ___________________לוגו בסרגל ניווט _____________ */
.logo {
    width: 62px;
    height: 62px;
    border-radius: 31px;

}

.logoname {
    color: honeydew;
    line-height: 50px;

    left: 200px;
    font-family: "Poppins", sans-serif;
    font-size: 20pt;
}

@media (max-width:576px) {


    .logo {
        display: none;
    }

    .logoname {
        position: fixed;
    }

    #hamburger {
        display: block;
        color: honeydew;
        font-size: 3rem;
        font-weight: bolder;
        position: fixed;
        left: 15px;
    }

    nav ul {
        flex-direction: column;
        margin-top: 82px;
        background-color: rgba(30, 30, 30, 0.3);
        display: none;
        position: fixed;
        left: 0;

    }

    nav ul li a {
        border-bottom: 3px solid transparent;
        width: 100vw;
        background-color: rgba(255, 255, 255, 0.1);
    }

    #hamburger:hover+ul {
        display: block;
        cursor: pointer;
    }
}

/* ___________________________________HOME______________________________ */

/* ____________________________HOME דיב______________________________ */
#home {
    width: 100vw;
    height: 550px;
    background-image: url(../images/homebackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: honeydew;
    font-size: 30pt;
    padding-top: 120px;
    font-family: "Poppins", sans-serif;
    text-align: center;
}



#home h1 {
    color: goldenrod;

}


#home p {
    font-size: 28pt;
}

#enterproject {
    display: flex;
    flex-direction: row;
    width: 70vw;
    margin: auto;
}

#enterproject a {
    color: rgb(30 30 30);
    background-color: rgba(255, 240, 213, 0.782);
    width: 200px;
    height: 30px;
    border-radius: 10px;
    margin: 30px auto;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12pt;
}

#enterproject a:hover {
    background-color: rgba(255, 165, 0, 0.5);
}


/* _________________תמונות של שפות _________*/
.langimg {


    display: flex;
    flex-direction: row;
    width: 20vw;
    margin: auto;


}


.langimg img {
    width: 40px;
    height: 40px;
    margin: auto;
}


.divprojectimg img {
    width: 1200px;
    height: 600px;
    box-shadow: 5px 5px 20px rgba(205, 255, 255, 0.98);
    border-radius: 5px;
    display: flex;
    margin: 80px auto;


}


@media (max-width: 976px) {
    #home {
        padding-top: 90px;
    }

    #home h1 {
        font-size: 24pt;
    }

    #home p {
        font-size: 12pt;
        width: 400px;
        margin: auto;
    }

    #enterproject {
        flex-direction: column;
    }

    .langimg img {
        width: 50px;
        height: 50px;
        margin: 30px auto;
    }

    .divprojectimg img {
        width: 400px;
        height: 200px;

    }
}


/* ___________________________FOOTER_________________________________ */
.footerbox {
    background-color: rgb(200, 200, 200);
    height: 60px;
    font-size: 14pt;
    text-align: center;
    padding-top: 20px;

}

@media (max-width: 576px) {
    .footerbox {
        padding-top: 5px;
        height: 40px;
        font-size: 12pt;


    }
}